/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

/* Based on status of checkbox, style the modal... */

/* modal background and position  */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  /* pointer-events ignores mouseclicks */
  pointer-events: none;
  opacity: 0; /* hidden until triggered */
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* when hidden checkbox is checked... */
input[type="checkbox"]:checked ~ .overlay {
  pointer-events: auto;
  opacity: 0.9; /* show the .overlay */
  -webkit-transform: scale(1); /* scale to full size */
  -ms-transform: scale(1);
  transform: scale(1);

}

input[type="checkbox"]:checked ~ .modal {
  pointer-events: auto;
  opacity: 1;

  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);

  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
      -o-transition: transform 0.5s ease, opacity 0.5s ease;
      transition: transform 0.5s ease, opacity 0.5s ease;

  -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
         transition-delay: 0.1s;
}

/* POSITION THE ACTUAL MODAL */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  width: 100%;
  max-width: 640px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* STYLE THE MODAL CONTENT  */
.modal__content {
  display: block;
  padding: 30px;
  background-color: #fff;
}
