/* ========================================
    CODE YOUR STYLES BELOW!
   ====================================== */

    @mixin perspective(
        $pers: 2400px,
        $rx: 50deg,
        $ry: 20deg,
        $rz: -25deg,
        $tx: 35px,
        $ty: 35px,
        $tz: 160px
    ) {
        transform: perspective($pers)
        rotateX($rx)
        rotateY($ry)
        rotateZ($rz)
        translateX($tx)
        translateY($ty)
        translateZ($tz);
    }

    
   .layers {
       position: relative;
       min-height: 640px;
       max-width: 360px;

       img {
           position: absolute;
           max-width: 100%;
           height: 100%;
           transition: all ease 1600ms;
           transform-style: preserve-3d;
           &.mid {
               width: 320px;
               left: 20px;
           }
           &.top {
             width: 300px;
             left: 30px;  
             top: -5px;
           }
           &.tippy {
              width: 280px;
              left: 40px;
              top: -150px;  
           }
       }
       &:hover img {
        @include perspective();
        &.mid {
            @include perspective($tz: 220px);
        }
        &.top {
           @include perspective($tz: 240px); 
        }
        &.tippy {
            @include perspective($tz: 240px); 
         }
       }

   }
